# Build directories
build/
bin/
lib/
out/
.cache/
CMakeScripts/
CMakeCache.txt
CMakeFiles/
Makefile
*.cmake

# Dependencies and toolchain
vcpkg_installed/
*.vcpkg/

# Local database & config credentials
*.db
*.db-journal
*.db-wal
*.db-shm
.env
config.local.json
logs/

# IDE files
.vs/
.vscode/
.idea/
*.sln
*.vcxproj
*.user

# OS files
.DS_Store
Thumbs.db
